@import "reset.css";

.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}

