.topMenu{
     margin: 20px;
     text-align: center;
}
.menuItem{
    display: inline;
}
.menuItemText{    
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(3, 109, 170);
    margin: 20px;
}
.mainImage{
    background-image: url("../img/main_image.jpg");
    width: auto;
    height: 70vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0px;
    overflow: auto;
}
.slogan{
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;    
    color: black;
    margin: 30px 0px 40px 0px;
}
.description{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: black;
    margin: 25px;
}
.getStartedBlock{    
    text-align: center;
}
.getStartedButton{
    background-color: rgb(138, 203, 223);
    border: none;

    font-size: 10px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 1.5px;    
    color: white;
    text-transform: uppercase;    
    padding: 10px 20px;    
}
.copyright{
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 40px;
}