.our-work-section{
    padding: 60px 0;
    color: #4E4E4E;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9EDEF;
}
.work-menu{
    margin: 30px 0 10px 0;
    display: flex;
    border: 1px solid #DADADA;
}
.work-menu-item{
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em 1em;
    color: #717171;        
    font-size: 14px;
    width: max-content;
    height: max-content;
}
.work-menu-item:not(:last-of-type){
    border-right: 1px solid #DADADA;   
}
.work-menu-item:last-of-type{
    border-right: 1px solid transparent;   
}
.work-menu-item.active{      
    outline: 2px solid #18CFAB;
    border-right: 1px solid transparent;
    color:  #18CFAB;
}