.review-section{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/sections/section-3.jpg") center center no-repeat;
    background-size: cover; 
    color: white;   
}

.fa-quote-left{
    font-size: 40px;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    color: #BBBBBB;
}
