.intro{
    width: 1600px;
    height: 900px;
    background-image: url("../img/layer.jpg");
}
.heading-sertiz{
    position: absolute;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
   
    text-transform: uppercase;

    color: #FFFFFF;
}

.slogan{
font-size: 54px;
text-transform: uppercase;
color: white;
font-family: Montserrat;
border: 1px white;
background-color: rgb(0, 0, 0, 0.3);
}

.yellow{
    color: yellow;
    margin-right: 20px;
}