.review-section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/sections/section-3.jpg") center center no-repeat;
    background-size: cover; 
    color: white;   
    overflow: hidden;
}
.fa-quote-left {
    font-size: 40px;
}
.reviews {
    width: 1160px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BBBBBB;
    margin: 2em;
    width: 1160px;
    height: 400px;
}
.review * {
    margin: 0.5em;
}
.review__text {
    text-align: center;
}
.review__author {
    text-transform: uppercase;
}
.author__title {
    font-size: 14px;
}
.reviwers {
    width: 320px;
    margin: 1em;
}
.slider__button--prev, .slider__button--next {
    position: absolute;
    top: 27%; 
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 30px;
    width: 30px;
    border: 1px solid #18CFAB;
    background: #18CFAB;
    z-index: 1;      
}
.slider__button--prev {
    left: -13%;
}
.slider__button--next { 
    left: 100%;
}
.reviews1{
    /* width: 100%;  */
}
.reviews.slick-slider, .reviews1 .slick-list, .reviews1 .slick-slide{   
    height: 400px;
    overflow: hidden;
}
.reviwers .slick-slide{
    height: 100px;
}
.reviwers .slick-slide {
    height: 150px;
}
.slick-current .circle-medium{
    position: absolute;
    top: -10%;
    transition: top 5000ms; 
}
.slick-slide .circle-medium{
   margin: 20px 0;
}