header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  position: relative;
  align-items: center; 
}

.menu {
  display: flex;
  align-items: center;
  top: 100%;
  left: 0;  
}

.nav ul {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $bp-menu - 1px) {
  .menu {
    flex-direction: column;
    position: absolute;
    width: 182px;
    z-index: 999;
    background: #F5F5F5; 
  }

  .nav ul {
    flex-direction: column;
  }

  #collapsable-state:not(:checked) ~ #collapsable {
    display: none;
  }
}

@media screen and (min-width: $bp-menu) {
  .menu {
    margin: auto;    
  }
  .switch {
    display: none;
  }
}

#collapsable-state {
  display: none;
}

.switch {
  &__label {
    display: block;
    width: 2em;
    height: 2em;
    background-color: black;
    cursor: pointer;    
  }
}

%menu__item {
  margin: 4em 2.5em;

  @media screen and (max-width: $bp-menu - 1px) {        
    margin: 0.5em;  
  }

  @media screen and (min-width: $bp-menu) and (max-width: $bp-tablet - 1px ) {
    margin: 3.2em 1.3em; 
  }
}

.nav__item {
  @extend %menu__item;
  font-size: 0.8em;  
}

.nav__item a{
  text-transform: uppercase;  
}