@import "reset.css";

body{
    font-family: Roboto, sans-serif;
    color: white;
}

.background{
    min-width: 1366px;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
}

.main-container{
    width: 1027px;
    margin: auto;
}

.header{
    position: relative;
    overflow: auto;
    padding-top: 59px;
    margin-bottom: 35px;
}

.logo{    
    float: left;
}

.logo-link{
    color: white;
    text-decoration: none;
}

.logo-icon{
    display: inline-block;
    background: url(../img/logo.png);
    width: 53px;
    height: 47px;
    margin-right: 8px;
}

.logo-text{
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}

#logo-text-Milan{
    font-size: 29px;    
}
#logo-text-Holidays{
    font-size: 18px;
}

.logo-link:hover .logo-icon{
    background: url(../img/logo_hover.png);
}

.logo-link:hover .logo-text{
    color: #F26522;  
}

.contacts{
    float: right;
    line-height: 21px;
    text-align: right;
    margin-right: 1em;
}

#contacts-email{
    margin-bottom: 11px;
}

.contacts>p:hover{
    color: #F26522;
}

.tour-gallery{
    position: relative;
    overflow: auto;
    text-align: justify;
}

.tour-link{
    text-decoration: none;
    color: white;
    width: 300px;
    float: left;
    margin-bottom: 41px;
}

.tour-link:not(:nth-child(3n+3)){    
    margin-right: 62px;
}

.tour-title{
    line-height: 21px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;    
    text-align: center;
    text-transform: capitalize;   
}

.tour-details{
    position: absolute;
    top: 218px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 58px;          
    background-color: #F26522;       
    transition: .7s;
}

.tour-link:hover .tour-details{    
    transition: .7s;
    top: 160px;
}

.tour-details-from{
    font-size: 10px;
    line-height: 21px;
    text-align: left;
    margin-left: 16px;
    margin-top: 8px;
}

.tour-details-price{
    display: inline-block;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    margin-left: 16px;
}

.tour-details-view-details{
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    margin-left: 120px;
} 

.tour-details-view-details::after{
    content:'>';
    margin-left: 30px;
    margin-right: 10px;
}

.tour-link:hover .tour-title{
    color: #F26522;
}

.tour-image{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: 220px;
    margin-bottom: 16px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
	border-image: linear-gradient(to bottom right, white 0%, black 50%);
    border-image-slice: 1;
}

#shopping-tours-image{    
    background: url(../img/shopping_tours.jpg);    
    background-position: center;
    background-size: 103%;    
}

#sightseeing-tours-image{
    background: url(../img/sightseeing_tours.jpg); 
    background-position: center;
    background-size: 103%; 
}

#food-tours-image{
    background: url(../img/food_tours.jpg);
    background-position: center;
    background-size: 103%; 
}

#bar-nightlife-tours-image{
    background: url(../img/bars_nightlife.jpg);
    background-position: center;
    background-size: 103%; 
}

#art-architecture-tours-image{
    background: url(../img/art_architecture.jpg);
    background-position: center;
    background-size: 103%; 
}

#walking-tours-image{
    background: url(../img/walking_tours.jpg);
    background-position: center;
    background-size: 103%; 
}

.copyright{
    text-align: center;
    padding-bottom: 15px;
}

.copyright-text{
    font-size: 12px;
    line-height: 21px;    
}